<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994726410801-ga7nemabqk7g22uercvdgrpq7usgsdrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994726410801-ga7nemabqk7g22uercvdgrpq7usgsdrr</string>
	<key>API_KEY</key>
	<string>AIzaSyCBnLIB6NepBFib1pwRckVh8_Z5QWAr9YY</string>
	<key>GCM_SENDER_ID</key>
	<string>994726410801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirangurung.ESEWA-MARKET</string>
	<key>PROJECT_ID</key>
	<string>esewamarket-c127b</string>
	<key>STORAGE_BUCKET</key>
	<string>esewamarket-c127b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994726410801:ios:fba99b001c714d42723310</string>
</dict>
</plist>